# Configuration for Atmega ATSAMD21
#
# Common dev boards:
#   - Adafruit Feather M0
#
CONFIG_ARCH=armv6m
CONFIG_BOARD=atsamd21
CONFIG_STACK_TOP=0x20004000
CONFIG_NUM_IRQ=28
CONFIG_CPU_HZ=48000000

CONFIG_I2C=y
CONFIG_I2C_SERCOM=y
CONFIG_GPIO=y
CONFIG_USB=y
CONFIG_USBSERIAL=y

CONFIG_IRQ0=powermgr_irq_entry
CONFIG_IRQ1=sysctrl_irq_entry
CONFIG_IRQ2=watchdog_irq_entry
CONFIG_IRQ3=rtc_irq_entry
CONFIG_IRQ4=eic_irq_entry
CONFIG_IRQ5=nvmctrl_irq_entry
CONFIG_IRQ6=dmac_irq_entry
CONFIG_IRQ7=usb_irq_entry
CONFIG_IRQ8=evsys_irq_entry
CONFIG_IRQ9=sercom0_irq_entry
CONFIG_IRQ10=sercom1_irq_entry
CONFIG_IRQ11=sercom2_irq_entry
CONFIG_IRQ12=sercom3_irq_entry
CONFIG_IRQ13=sercom4_irq_entry
CONFIG_IRQ14=sercom5_irq_entry
CONFIG_IRQ15=tcc0_irq_entry
CONFIG_IRQ16=tcc1_irq_entry
CONFIG_IRQ17=tcc2_irq_entry
CONFIG_IRQ18=tc3_irq_entry
CONFIG_IRQ19=tc4_irq_entry
CONFIG_IRQ20=tc5_irq_entry
CONFIG_IRQ21=tc6_irq_entry
CONFIG_IRQ22=tc7_irq_entry
CONFIG_IRQ23=adc_irq_entry
CONFIG_IRQ24=ac_irq_entry
CONFIG_IRQ25=dac_irq_entry
CONFIG_IRQ26=ptc_irq_entry
CONFIG_IRQ27=i2s_irq_entry
